<!--ExtJS Fundamentals Course-->


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <link href="http://cdn.sencha.io/ext/gpl/4.2.1/resources/css/ext-all-neptune.css" rel="stylesheet" />
    <script src="http://cdn.sencha.com/ext/gpl/4.2.1/ext-all.js"></script>
    <script type="text/javascript">

        Ext.define('SessionModel', {
            extend: 'Ext.data.Model',
            fields: [
                { name: 'id', type: 'int' },
                { name: 'title', type: 'string' },
                { name: 'sessionLevel', type: 'int'},
                { name: 'approved', type: 'bool', defaultValue: false }
            ],
            validations: [
                { type: 'length', field: 'title', min: 3 },
                { type: 'inclusion', field: 'sessionLevel', list: [1, 2, 3] }
            ],
            proxy: {
                type: 'rest',
                url: '/api/session',
                reader: {
                    type: 'json'
                }
            }
        });

        var mySession = Ext.create("SessionModel", {
            title: 'C',
            sessionLevel: 4,
            approved: true
        })

        mySession.save();

        // debugger;
        // var mySession = Ext.create("SessionModel", {
        //     title: 'C++',
        //     sessionLevel: 2
        // });

        // if (!mySession.isValid()) {
        //     var errors = mySession.validate();
        //     errors.items.forEach(function(element, index) {
        //         console.log(element);
        //     });
        // } else {
        //     debugger;
        // }
        // var mySession2 = Ext.create("SessionModel", {
        //     title: 'C#',
        //     sessionLevel: 3
        // });

        // var myC = Ext.create("Ext.Component", {
        //     html: 'component1'
        // });

        // var myD = Ext.create("Ext.Component", {
        //     html: 'component2'
        // });

        // var myF = Ext.create("Ext.Component", {
        //     html: 'component3'
        // });

        // var myContainer = Ext.create("Ext.container.Container", {
        //     items: [myC, myD, myF],
        //     layout: 'vbox'
        // });

        // Ext.application({
        //     name: 'MyApp',
        //     launch: function () {
        //         Ext.create('Ext.container.Viewport', {
        //             items: [
        //                 myContainer,
        //                 {
        //                     xtype: 'button',
        //                     text: 'disable',
        //                     handler: function () {
        //                         this.up().down("#myComponent").disable()
        //                     }
        //                 },
        //                 {
        //                     xtype: 'button',
        //                     text: 'enable',
        //                     handler: function () {
        //                         this.up().down("#myComponent").enable()
        //                     }
        //                 },
        //                 {
        //                     xtype: 'button',
        //                     text: 'hide',
        //                     handler: function () {
        //                         this.up().down("#myComponent").hide()
        //                     }
        //                 },
        //                 {
        //                     xtype: 'button',
        //                     text: 'show',
        //                     handler: function () {
        //                         this.up().down("#myComponent").show()
        //                     }
        //                 },
        //                 {
        //                     html: 'My First ExtJS Application',
        //                     padding: 20
        //                 },
        //                 {
        //                     itemId: "myComponent",
        //                     padding: 20,
        //                     tpl: 'name: {first} {last}',
        //                     data: {
        //                         first: 'David',
        //                         last: 'Ye'
        //                     },
        //                     width: 200,
        //                     height: 200,
        //                     resizable: true,
        //                     listener: {
        //                         resize: {
        //                             fn: function (component, width, height) {
        //                                 console.log("w/h: " + width + " " + height);
        //                             }
        //                         }
        //                     },
        //                     style: {
        //                         border: '2px solid red'
        //                     }
        //                 }
        //             ]
        //         });
        //     }
        // });
    </script>
</head>


<body>

    <div id="MyDivId">

    </div>

</body>
</html>
